streamlit
pyparsing==3.1.1
streamlit-extras==0.3.4
streamlit-quill
streamlit>=1.22.0
langchain-core>=0.1.0
langchain-openai>=0.1.0
langchain_community==0.2.12
python-dotenv>=0.21.0
glob2>=0.7
pyyaml>=6.0
pymupdf>=1.21.1
faiss-cpu
unstructured>=0.3.0
networkx>=2.5
openpyxl>=3.0.0
langchain
faiss-cpu
python-dotenv
pyperclip
pandas
openpyxl
fpdf2
reportlab
langchain
openai
